<li class="comment-list-item" id="comment-list-item-<%=comment.id%>">
    <div class="comment">
        <p class="comment-content"><%= comment.content %></p>
        <p class="comment-author">Commented By - <%= comment.user.name %></p>
    </div>
    <% if(locals.user && locals.user.id === comment.user.id) { %>
        <div class="delete-container">
            <a class="delete-comment-button" href="/posts/comments/destroy/<%= comment.id %>"><i class="bi bi-trash-fill"></i>Delete</a>
        </div>
    <% } %>
</li>