<section>
    <form action="/users/forgot-password/send" method="POST">
        <label for="reset-email">Enter Email</label>
        <input type="email" name="forgotPassword" id="reset-email" placeholder="Enter Email to send reset link"
               required>
        <input type="submit" value="Send">
    </form>
</section>