<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<link rel="stylesheet" href="/css/home.css">
<main class="home-container">
    <section class="bg-home">
        <section class="main-home">
            <% if(locals.user) { %>
                <section class="posts">
                    <form action="/posts/create" method="post" id="posts-form">
                        <textarea name="content" placeholder="Type Here..." required></textarea>
                        <input type="submit" value="Post">
                    </form>
                </section>
            <% } %>
            <section class="all-posts">
                <ul>
                    <% for(post of posts){ %>
                        <%- include("_post.ejs") %>
                    <% } %>
                </ul>
            </section>
        </section>
    </section>


    <aside class="user-friends">
        <h4>Friends</h4>
        <ul class="friends-list">
            <% for(u of all_users) { %>
                <li>
                    <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
                </li>
            <% } %>
        </ul>

    </aside>
</main>