<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/auth.css">
</head>
<body>
<main>
    <!--    Create form in this section-->
    <section>
        <form action="/users/createSession" method="post">
            <p class="form-heading">let's log you in</p>
            <label for="user-email">Email</label>
            <input type="email" id="user-email" name="email" placeholder="Enter Your Email" required>
            <label for="user-password">Password</label>
            <input type="password" id="user-password" name="password" placeholder="Enter Your Password" required>
            <input type="submit" value="Login" class="submit-button">
        </form>
    </section>
    <!--    Set Side Background Image in Aside-->
    <aside>

    </aside>
</main>
</body>
</html>