<link rel="stylesheet" href="/css/auth.css">
<main>
    <!--    Create form in this section-->
    <section>
        <form action="/users/create" method="post">
            <p class="form-heading">let's get you onboard</p>
            <label for="username">Name</label>
            <input type="text" name="name" id="username" placeholder="Enter Your Name" required>
            <label for="user-email">Email</label>
            <input type="email" id="email" name="email" placeholder="Enter Your Email" required>
            <label for="user-password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter Your Password" required>
            <label for="overconfidently">Confirm Password</label>
            <input type="password" id="confirm_password" name="confirm_password" placeholder="Enter Your Password Again"
                   required>
            <input type="submit" value="Signup" class="submit-button">
        </form>
    </section>
    <!--    Set Side Background Image in Aside-->
    <aside>

    </aside>
</main>
