@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0; }

.bg-home {
  height: calc(100vh - 120px);
  background-color: silver; }

.main-home {
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  width: 100vw;
  background-color: white;
  overflow: auto; }

.posts form {
  display: flex;
  flex-direction: column;
  align-items: stretch; }
  .posts form textarea {
    border: 1px solid silver;
    border-radius: 4px;
    padding: 8px;
    height: 100px;
    margin-bottom: 16px; }
  .posts form input {
    background-color: dodgerblue;
    color: white;
    border-radius: 8px;
    padding: 16px;
    text-transform: uppercase;
    outline: none;
    border: none;
    font-weight: 800;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin-bottom: 32px; }
    .posts form input:hover {
      background-color: royalblue; }

.all-posts ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0; }

.post-card {
  border: 1px solid silver;
  margin: 8px 0;
  border-radius: 8px;
  padding: 0; }
  .post-card .heading {
    background-color: dodgerblue;
    color: white;
    border-radius: 8px 8px 0 0;
    box-sizing: border-box;
    padding: 16px; }
  .post-card .content {
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 600; }
  .post-card .author {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 400;
    color: ghostwhite; }

.comment-box {
  padding: 16px;
  border-bottom: 1px solid silver; }
  .comment-box form {
    display: flex;
    align-items: center; }
    .comment-box form input[type="text"] {
      flex: 2;
      padding: 8px 16px;
      height: 40px;
      box-sizing: border-box;
      border: 1px solid silver;
      border-radius: 8px; }
    .comment-box form input[type="submit"] {
      flex: 1;
      height: 40px;
      background-color: dodgerblue;
      color: white;
      border: none;
      border-radius: 8px;
      margin: 0 8px;
      transition: 0.2s ease-in-out; }
      .comment-box form input[type="submit"]:hover {
        background-color: royalblue; }

.all-comments {
  padding: 16px !important; }
  .all-comments .comment-list-item {
    border-bottom: 1px solid silver;
    padding: 8px 0; }
  .all-comments .comment-content {
    text-transform: capitalize;
    font-size: 0.9rem; }
  .all-comments .comment-author {
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 400;
    color: darkgrey; }
